<!-- #region slider -->
<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button> -->
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/Images/dorbin3.jpg" id="photo1" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/dorbin2.jpg" id="photo2" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../assets/Images/dorbin3.jpg" id="photo3" class="d-block w-100" alt="...">
      </div>
    </div>
    <button id="btn-left" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span id="span-left" class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button id="btn-right" class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span id="span-right" class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>
<!-- #endregion -->

<section id="section-khadamat">
    <div class="div-hamlonaghl">
        <div class="div-p">
            <p class="p1">حمل و نقل رایگان</p>
            <p class="p2">حمل و نقل رایگان در همه منظور</p>
        </div>
        <div class="div-icon">
            <img class="icon" src="../assets/Images/icon-khadamat1.png">
        </div>
    </div>

    <div class="div-poshtibani">
        <div class="div-p">
            <p class="p1">پشتیبانی آنلاین ۲۴/۷</p>
            <p class="p2">پشتیبانی آنلاین ۲۴ ساعت در روز</p>
        </div>
        <div class="div-icon">
            <img class="icon" src="../assets/Images/icon-khadamat5.png">
        </div>
    </div>

    <div class="div-pol">
        <div class="div-p">
            <p class="p1">بازگشت پول</p>
            <p class="p2">تضمین بازگشت به کمتر از ۷ روز</p>
        </div>
        <div class="div-icon">
            <img class="icon" src="../assets/Images/icon-khadamat4.png">
        </div>
    </div>

    <div class="div-pardakht">
        <div class="div-p">
            <p class="p1">پرداخت امن</p>
            <p class="p2">امنیت کامل در پرداخت</p>
        </div>
        <div class="div-icon">
            <img class="icon" src="../assets/Images/icon-khadamat3.png">
        </div>
    </div>

    <div class="div-takhfif">
        <div class="div-p">
            <p class="p1">تخفیف برای عضو</p>
            <p class="p2">در هر سفارش بیش از ۲۰ درصد</p>
        </div>
        <div class="div-icon">
            <img class="icon" src="../assets/Images/icon-khadamat2.png">
        </div>
    </div>
</section>

<section id="section-takhfif">
    <div class="div-matn">
        <p class="p1">پیشنهاد ویژه فروشگاه</p>
        <p class="p2">تخفیف تا امروز</p>
    </div>
    <img class="img-takhfif" src="../assets/Images/photo-takhfif.png">

    <!-- #region slider -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div id="div-carousel-inner" class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <!-- slider photo: div/photo -->
            <div class="div-slider-photo">
                <img src="../assets/Images/photo-camera-new.png" class="d-block w-100" alt="...">
                <p class="p-matn-aval">
                  دوربین مدار بسته
                  <br>
                  فروش فوق العاده
                  <br>
                  لوازم جانبی
                </p>
                <p class="p-matn-dovom">نایت ولفIR8333 HD
                  <br>
                  WARMLIGHT
                </p>
                <!-- code in ke khat ro neveshte bashad -->
                <li class="p-gheymat1">980,000</li>
                <p class="p-gheymat2">940,000</p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <!-- slider photo: div/photo -->
            <div class="div-slider-photo">
               <img src="../assets/Images/photo-camera-new.png" class="d-block w-100" alt="...">
               <p class="p-matn-aval">
                  دوربین مدار بسته
                  <br>
                  فروش فوق العاده
                  <br>
                  لوازم جانبی
               </p>
                <p class="p-matn-dovom">نایت ولفIR8333 HD
                  <br>
                  WARMLIGHT
                </p>
                <!-- code in ke khat ro neveshte bashad -->
                <li class="p-gheymat1">980,000</li>
                <p class="p-gheymat2">940,000</p>
            </div>
          </div>
          <div class="carousel-item">
            <!-- slider photo: div/photo -->
            <div class="div-slider-photo">
              <img src="../assets/Images/photo-camera-new.png" class="d-block w-100" alt="...">
              <p class="p-matn-aval">
                 دوربین مدار بسته
                 <br>
                 فروش فوق العاده
                 <br>
                 لوازم جانبی
              </p>
               <p class="p-matn-dovom">نایت ولفIR8333 HD
                 <br>
                 WARMLIGHT
               </p>
               <!-- code in ke khat ro neveshte bashad -->
               <li class="p-gheymat1">980,000</li>
               <p class="p-gheymat2">940,000</p>
           </div>            
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <!-- #endregion -->
</section>

<section id="section-mahsolat">
  <div class="div-mahsol-top">
    <div class="div-matn-right">
      <p class="p-right">آخرین محصولات</p>
    </div>
    <div class="div-matn-left">
      <a class="a-left" href="#">مشاهده لیست کامل</a>
    </div>
  </div>
  
  <div class="div-mahsol-bottom">
    <!-- #region slider -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/Images/dorbin2.jpg" id="img1" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="../assets/Images/dorbin3.jpg" id="img2" class="d-block w-100" alt="...">
        </div>

        <div class="carousel-item">
          <img src="../assets/Images/dorbin2.jpg" id="img3" class="d-block w-100" alt="...">
        </div>
      </div>

      <div id="div-btn-click"> 
        <button id="btn1" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="visually-hidden">Previous</span>
        </button>
        <button id="btn2" class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- #endregion -->
  </div>
</section>

<section id="section-webcam">
  <div class="div-webcam-item">
    <img src="../assets/Images/photo-takhfif.png">
    <div class="div-webcam-item-in">
      <h5 class="p-matn-webcam">وب کم با کیفیت با تخیف ویژه</h5>
      <button class="btn-webcam">خرید محصول</button>
    </div>
  </div>
</section>

<section id="section-dorbinMadarBaste-item">
  <div class="div-top">
    <p class="p-dorbin">دزدگیر اماکن</p>
    <a href="#">مشاهده لیست کامل</a>
  </div>
  <section class="section-items">
    <div class="div-flex-items">

      <div class="item"> 
        <img src="../assets/Images/photo1.png">
        <p class="p-tozih">دزدگیر اماکن سیمکارتی GMK M1 890</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۵,۱۰۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۵,۲۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo2.jpg">
        <p class="p-tozih">دزدگیر اماکن سیمکارتی SILEX SG8</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۵,۱۰۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۵,۲۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo3.jpg">
        <p class="p-tozih">دزدگیر اماکن سیمکارتی بیواز</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۵,۱۵۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۶,۲۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo4.jpg">
        <p class="p-tozih">دزدگیر اماکن سیمکارتی MASTER</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۵,۱۳۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۵,۵۵۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo5.jpg">
        <p class="p-tozih">دزدگیر سیمکارتی کلاسیک</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۴,۳۰۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۴,۸۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo6.jpg">
        <p class="p-tozih">دزدگیر اماکن پایرونیکس P70</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۵,۶۰۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۵,۸۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

      <div class="item"> 
        <img src="../assets/Images/photo7.jpg">
        <p class="p-tozih">دزدگیر اماکن نایت ولف</p>
        <div class="div-in">
          <div class="div-money-asli">
            <p class="p1">  ۳,۲۰۰,۰۰۰ </p>
            <p class="p2">تومان</p>
          </div>
          <div class="div-money-takhfif">
            <p class="p1">۴,۲۰۰,۰۰۰</p>
            <p class="p2">تومان</p>
          </div>
        </div>
      </div>

    </div>
  </section>
</section>