<footer>
    <div class="div-top">
        <p>:اطلاعات تماس</p>
    </div>
    <div class="div-item1">
        <a href="#">83arshiarezaie83#gmail.com</a>
        <p>09038467067:تلفن دفتر</p>
        <p>09038467067:تلفن همراه</p>
    </div>
    <div class="div-item2">
        <p>:آدرس دفتر مرکزی</p>
        <p class="p-addres">کرج،کمالشهر،نبش میدان شهید بهشتی ابتدای بلوار شهرداری ساختمان نوین طبقه اول واحد1</p>
        <p class="p-darbare-ma">درباره ما</p>
    </div>
    <div class="div-item3">
        <p class="p-tozihat">
            شرکت ابتکار کاوشگران البرز عرضه کننده انواع 
            دوربین مداربسته ، انواع سیستم های حفاظتی و نظارتی اماکن
            ، ادارات و منازل می باشد . گروه فنی و مهندسی ابتکار
            کاوشگران البرز ارائه دهنده ی بهترین مدل های دوربین مداربسته 
            از برند های معتبری از جمله داهوا برایتون و برند تخصصی نایت ولف.
        </p>
        <p class="p-majazi">:شبکه های مجازی</p>
    </div>
    <div class="div-icon-shabake-majazi">
        <img class="watsapp-icon" src="../assets/Images/watsapp.png">
        <img src="../assets/Images/facebook.png">
        <img src="../assets/Images/instagram.png">
        <img src="../assets/Images/google.png">
    </div>
    <div class="div-item4">
        <p>نماد اعتماد الکترونیکی</p>
    </div>
    <div class="div-item-etemad">
        <img src="../assets/Images/logo.png">
        <p>محل جغرافیایی ما</p>
    </div>
    <div class="div-location">

    </div>
    <div class="div-copy-right">
        <p>کپی رایت 2022 کلیه محتوا و مطالب</p>
        <p>برای ارشیا رضایی است</p>
    </div>
</footer>