footer{
    // background-color: rgb(241, 241, 241);
    background-color: #222831;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
    .div-top{
        border-bottom: 1px solid rgba(114, 114, 114, 0.801);
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 15px;
        p{
            text-align: center;
            font-weight: bold;
            margin-right: 10px;
            font-size: 14px;
            color: #EEEEEE;
        }
    }
    .div-item1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        gap: 15px;
        *{
            margin-right: 10px;
        }
        a{
            color: #EEEEEE;
            text-decoration: none;
            font-size: 16px;
        }
        p{
            font-size: 13px;
            // color: rgba(0, 0, 0, 0.411);
            color: #eeeeee98;
        }
    }
    .div-item2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-bottom: 1px solid rgba(114, 114, 114, 0.801);
        *{
            margin-right: 15px;
            font-size: 13px;
            color: #EEEEEE;
        }
        .p-addres{
            direction: rtl;
            margin-top: -10px;
            color: #eeeeee98;
        }
        .p-darbare-ma{
            color: #EEEEEE;
            font-size: 15px;
            font-weight: bold;
        }
    }
    .div-item3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        border-bottom: 1px solid rgba(114, 114, 114, 0.801);
        *{
            margin-right: 15px;
        }
        .p-tozihat{
            direction: rtl;
            color: #eeeeee98;
            font-size: 13px;
        }
        .p-majazi{
            font-size: 15px;
            color: #EEEEEE;
            font-weight: bold;
        }
    }
    .div-icon-shabake-majazi{
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 5px;
        width: 100%;
        *{
            height: 60px;
            width: 60px;
        }
        .watsapp-icon{
            margin-right: 15px;
        }
    }
    .div-item4{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        border-bottom: 1px solid rgba(114, 114, 114, 0.801);
        *{
            margin-right: 15px;
        }
        p{
            font-size: 15px;
            color: #EEEEEE;
            font-weight: bold;
        }
    }
    .div-item-etemad{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        gap: 15px;
        border-bottom: 1px solid rgba(114, 114, 114, 0.801);
        *{
            margin-right: 15px;
        }
        p{
            font-size: 15px;
            color: #EEEEEE;
            font-weight: bold;
        }
        img{
            transition: 0.5s;
        }
        img:hover{
            transform: scale(1.1);
            transition: 0.5s;
            cursor: pointer;
        }
    }
    .div-location{
        background-color: rgba(0, 0, 0, 0.288);
        width: 100%;
        height: 350px;
    }
    .div-copy-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        *{
            font-size: 15px;
            color: rgba(0, 0, 0, 0.411);
        }
    }
}